@media screen and (max-device-width:425px) {
   
    .title-area {
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    #page-title {
        font-size: 36pt;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    #page-title h1 {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    #salutation-label {
        margin-left: auto;
        margin-right: auto;
    }

    #salutation-label p {
        font-size: 32pt;
    }

    .button-panel {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
    }

    .button-panel button {
        font-size: 24pt;        
    }

    #button-exit {
        float: none;
    }

    .service-fields {
        margin-top: 360px;
    }

    .my-queues-buttons {
        width: fit-content;
        margin-right: 25px;
    }

    .my-queues-buttons button {
        font-size: 32pt;
    }

    .search-area {
        width: fit-content;
        align-items: flex-start;
        margin-top: 10px;
    }

    .search-area * {
        font-size: 32pt;
    }

    
    .queue-item {
        width: 100%;
        height: fit-content;
    }

    .queue-item p {
        font-size: 38pt;
    }

    .queue-name {
        font-size: 60pt !important;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #button-to-top {
        top: 93%;
        left: 87%;
        width: 100px;
        height: 100px;
    }

    #up-arrow {
        width: 100px;
        height: 100px;
    }
    
    #button-load-queues {
        font-size: 40pt;
    }

    .queue-form {
        margin-top: 350px;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
    }

    .queue-main-info {
        width: auto !important;
        min-height: fit-content;
        max-height: 80vh;
    }

    .queue-info-area .labels,
    .queue-info-area .data {
        font-size: 30pt;
        word-wrap: break-word;
        margin-bottom: 5px;
    }

   


    .queue-members-list {
        height: max-content;
    }
    
    .queue-info-area .labels {
        width: 40%;
    }
    
    .queue-info-area .data {
        width: 57%;
    }

    .data {
        text-align: center;
    }

    .queue-event-date {
        padding-left: 15%;
    }

    .chat-area {
        width: auto;
        margin-top: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .messages-area {
        min-height: 10vh;
        max-height: 69vh;
        flex-direction: column-reverse;
    }

    .input-message-area {
        height: 100px;
    }

    #button-send-message,
    #message-input {
        font-size: 28pt;
    }

    .chat-message p {
        font-size: 28pt;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    
    .queue-member-item * {
        font-size: 28pt;
    }

    .history-button-area,
    .update-button-area,
    .finish-button-area {
        width: 100%;
    }

    .queue-info-area button{
        font-size: 26pt !important;
        text-align: center;
        margin-right: 0;
    }

    .auth-area *,
    .auth-area button {
        font-size: 38pt;
    }

    .queue-create-area {
        width: 75%;
        margin-top: 350px;
    }

    .queue-create-area * {
        font-size: 30pt;
    }

    .error-message p {
        font-size: 38pt;
    }

    .swap-request-form {
        width: 60%;
        margin-left: -30%;
    }

    .swap-request-form * {
        font-size: 38pt;
    }

    .swap-request-form button {
        font-size: 38pt;
    }

    .request-header {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 32pt;
    }
    
    .request-message {
        height: 55%;
        margin-bottom: 10px;
    }

    .queue-item .queue-event-date {
        padding-left: 0;
    }
}

