body {
    background-color: lightgreen;
}

@media screen {

    #menu-panel {
        display: flex;
        flex-wrap: wrap;
        background-color: green;
        align-content: center;
        align-items: center;
        z-index: 1;
        justify-content: space-around;
        min-width: 670px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;

    }

    .title-area {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    #page-title {
        margin-right: 50px;
    }

    #page-title h1 {
        word-wrap: none;
        white-space: nowrap;
    }

    /*текст приветствия*/

    #salutation-label {
        margin-left: 25px;
    }

    #salutation-label p {
        word-wrap: none;
        white-space: nowrap;
        color: white;
    }

    #salutation-label p:hover {
        color: lightblue;
    }

    /*блок кнопок*/

    .button-panel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .button-panel button {
        border: white 1px solid;
        color: brown;
        background-color: khaki;
        margin-right: 5px;
    }

    .button-pressed:hover {
        color: white;
        background-color: green !important;
    }

    .button-pressed:active {
        color: white;
        background-color: darkgreen !important;
    }

    .service-fields {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 150px;
    }

    /*кнопки выбора списка очередей*/
    .my-queues-buttons button {
        font-size: 20pt;
        border-top: 0;
        border-left: 0;
        border-bottom: white 3px solid;
        border-right: white 3px solid;
        color: chocolate;
        background-color: lightgreen;
    }
    
    .my-queues-buttons button:hover  {
        border-top: white 3px solid;
        border-left: white 3px solid;
        background-color: green;
        padding-right: 6px;
        padding-left: 3px;
        margin-top: -5px;
        
        color: white;
    }

    .my-queues-buttons button:active  {
        background-color: darkgreen;
        color: white;
    }

    button {
        outline: none !important;
    }

    .search-area button {
        background-color: lightblue;
        color: green;
        min-width: 65px;
    }

    .my-queues-buttons {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 15px;
        margin-right: 50px;
    }

    .my-queues-buttons button {
        flex-wrap: nowrap;
    }

    .search-area {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
    }

    .search-area * {
        font-size: 14pt;
    }

    .search, .sort {
        display: flex;
        flex-direction: row;
    }

    .search {
        justify-content: space-between;
    }

    .sort {
        align-items: center;
    }
    
    .sort * {
        margin-right: 15px;
    }

    .queues-area {
        display: flex;
        flex-wrap: wrap;
    }

    .queue-item {
        background-color: green;
        width: 300px;
        height: 300px;
        display: inline-block;
        border: 5px solid green;
        border-radius: 50px;
        padding: 15px;
        margin: 5px;
        position: relative;
        box-sizing: border-box;

    }

    .queue-name {
        text-align: center;
        font-size: 22pt;
        font-style: italic;
    }

    .queue-event-date {
        display: inline-block;
        width: 50%;
        margin-bottom: 5px;
    }

    .queue-author {
        display: inline-block;
        width: 45%;
        text-align: right;
        margin-bottom: 5px;
    }

    .queue-place {
        margin-top: 0;
    }

    .queue-description {
        height: 28%;
    }

    .queue-description p {
        height: 100%;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        white-space: normal;
    }

    .load-next-queues {
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: fit-content;      
    }

    #button-load-queues {
        border: 2px green solid;
        background-color: lightgreen;
        font-size: 16pt;
    }

    #button-load-queues:hover {
        background-color: green;
    }

    #button-load-queues:active {
        background-color: darkgreen;
    }

    #button-to-top {
        position: fixed;
        top: 90%;
        left: 95%;
        font-size: 14pt;
        width: 50px;
        height: 50px;
        padding: 0;
    }

    #up-arrow {
        width: 50px;
        height: 50px;
        margin-top: -2px;
        margin-left: -2px;
    }

    #up-arrow:hover {
        border: 2px black solid;
        margin-top: -4px;
        margin-left: -4px;
    }

/*--------------reg/auth--------------------*/
    

    .auth-area {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;

    }

    .auth-area div {
        flex-direction: row;
        font-size: 16pt;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .reg-area {
        display: none ;
    }

    .auth-area div {
        justify-content: space-between;
    }

    .auth-area button {
        margin-top: 20px;
        font-size: 14pt;
    }

    .submit-reg-auth, 
    .switch-mode {
        display: inline-block;
    }

    .error-message p {
        font-size: 18pt;
        text-align: center;
        width: 100%;
        color: red;
        word-wrap: break-word;
        white-space: normal;
    }

/*---------queue creating area---------*/
    .queue-create-area {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 110px;
        border: 3px black solid;
        background-color: mediumspringgreen;
        padding: 15px;
    }

    .queue-create-area > p {
        text-align: center;
        width: 100%;
        font-weight: bold;
        font-size: 16pt;
    }    
    
    .queue-create-area div * {
        width: 100%;
    }

    .new-queue-name *, .new-queue-place *, .new-queue-date * {
        display: inline-block;
    }

    .submit-queue, .queue-create-area .error-message {
        display: inline-block;
        width: 45%;
    }

    .queue-create-area .error-message p {
        font-size: 16pt;
    }

    .submit-queue {
        margin-right: 9%;
    }

    button#close-queue-create-area {
        position: relative;
        left: 95%;
        top: 2%;
    }

    .connection-error-message {
        border: 3px dashed black;
        padding: 5%;
        margin: auto;
        height: 100%;
    }
    
    .connection-error-message p {
        font-size: 24pt;
        margin: auto;
    }

    .queue-form {
        margin-top: 130px;
        height: 80vh;
    }

    .queue-main-info {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .chat-area {
        flex-direction: column;
        border: black 1px solid;
        width: 29%;
        height: 100%;
    }

    .queue-info-area {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        margin-bottom: 5px;
    }

    .queue-info-area .labels {
        width: 25%;
        padding-left: 5px;
    }

    .labels p,
    .data p {
        margin: 0;
    }

    .queue-info-area .data {
        width: 73%;
    }

    .queue-info-area .queue-description {
        height: auto;
    }

    .queue-info-area .queue-name {
        text-align: center;
        padding-left: 10px;
        width: 100%;
        margin: 0;
        height: fit-content;
    }

    .queue-main-info .queue-place {
        height: fit-content;
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
    }
  
    .queue-info-area .queue-event-date,
    .queue-info-area .queue-author {
        width: auto;
        display: block;
        text-align: left;
    }

    .queue-members-list {
        position: relative;
        overflow-y: scroll;
        
        border-top: black 2px solid;
        border-bottom: black 2px solid;
        border-right: black 2px solid;
    }

    .queue-member-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 25px;
        padding-bottom: 25px;
        border-left: solid 2px black;
        border-right: solid 2px black;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }

    .queue-member-item:first-child {
        border-top: none;
    }

    .queue-member-item:last-child {
        border-bottom: none;
    }

    .queue-member-item * {
        margin-top: 0;
        margin-bottom: 0;
    }

    .queue-member-name {
        margin-left: auto;
        margin-right: auto;
    }

    .queue-member-number {
        margin-left: 10px;
    }

    .queue-member-function {
        margin-right: 10px;
    }

    .queue-member-data {
        max-width: 25%;
        word-wrap: break-word;
        margin-right: 10px;
    }

    .queue-join-area {
        padding-top: 0;
        width: 100%;
    }

    #button-join-queue {
        display: block;
        border: darkgreen 3px solid;
        background-color: lightgreen;
        font-size: 16pt;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .queue-user-item {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: rgb(221, 241, 131);
        margin-bottom: 5px;
    }

    .queue-form {
        display: flex;
        flex-wrap: wrap;
    }

    .queue-main-info {
        width: 70%;
    }

    .history-button-area, .update-button-area, .finish-button-area {
        display: inline-block;
        width: fit-content;
        justify-content: center;
        height: fit-content;
        margin-top: 5px;
        margin-bottom: 5px;
        
    }

    .queue-info-area button {
        display: block;
        margin-left: 5px;
        margin-right: auto;
        background-color: lightgreen;
        border: 2px darkgreen solid;
        font-size: 12pt;
    }

    .messages-area {
        height: 93%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        background-color: rgb(221, 241, 131);
    }

    .input-message-area {
        border-top: black 1px solid;
        height: 7%;
        display: flex;
    }
    
    #message-input, #button-send-message {
        display: flex;
        margin-bottom: 1px;
    }

    #message-input {
        width: 80%;
        margin-left: 1px;
    }

    #button-send-message {
        width: 20%;
        margin-right: 1px;
        padding: 0;
    }

    #button-send-message p {
        text-align: center;
        margin: auto;
    }

    .chat-message {
        border: 1px black solid;
        border-radius: 15px;
        width: 40%;
        padding: 5px;
    }

    .sender-name {
        margin-top: 5px;
        text-decoration: underline;
        text-align: center;
        font-size: 11pt;
    }

    .message-text {
        font-size: 12pt;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
    } 

    .my-chat-message {
        align-self: flex-end;
        margin-top: 5px;
        margin-right: 5px;
        background-color: rgb(248, 248, 64);
    }
    
    .other-chat-message {
        
        margin-left: 5px;
        margin-top: 5px;
        background-color: white;

    }

    .admin-chat-message {
        align-self: center;
        width: 90%;
        text-align: center;
        margin-top: 5px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 15px;
        background-color: lightgray;
    }

    .unactive-user {
        background-color: grey;
    }

    .swap-request-form {
        display: flex;
        flex-direction: column;
        position: fixed;
        box-sizing: border-box;
        width: 40%;
        height: 35%;
        left: 50%;
        top: 50%;
        margin-top: -10%;
        margin-left: -20%;
        z-index: 2;
        background-color: rgb(89, 231, 148);
        border: 2px black solid;
    }

    .request-header {
        font-size: 14pt;
        text-align: center;
        color: rgb(2, 73, 2);
        padding: 5px;

    }

    .request-message {
        height: 45%;
        word-wrap: break-word;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        overflow-y: auto;
        border: 1px black solid;
        font-size: 14pt;
    }

    .request-button-panel {
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    
    .request-button-panel button {
        display: inline-block;
        font-size: 14pt;
        background-color: rgb(187, 209, 88);
        border: 2px darkgreen solid;
        width: fit-content;
    }

    #ref-wiki {
        text-decoration: none;
        color: brown;
    }
}   